svg.unselected {
  fill: none;
}

svg.selected {
  stroke: #A66321;
  fill: #D9822B;
}

.vertical-list {
  display: flex;
  flex-direction: column;
}

.vertical-list > div {
  margin-bottom: 10px;
}

.vertical-list > div:last-child {
  margin-bottom: 0px;
}

.pointer {
  cursor: pointer;
}
